<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 92vh;
      margin: 0;
    }

    section.grainy-gradient-intro {
      text-align: center;
    }

    h1, form {
      margin-top: 20px;
    }

    form {
      text-align: center;
    }

    input[type="file"] {
      margin-right: 10px;
    }

    svg {
      display: none; /* Add this line if you don't need the SVG element */
    }


  </style>
</head>
<body>
  <section class="grainy-gradient-intro">
    <svg height="0" width="0">
      <filter id='f'>
        <feTurbulence type='fractalNoise' baseFrequency='.5' />
      </filter>
    </svg>
  </section>
  <h1>UPLOAD YOUR TEXTBOOK</h1>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".pdf">
    <button type="submit">Upload</button>
  </form>
</body>
</html>
