<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask DataFrame Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        section.grainy-gradient-intro {
          text-align: center;
        }
        body {
            text-align: left;
        }
        header { 
                text-align: center; 
            }
    </style>
    

</head>
<body>

    
    <header> 
    <h1>Revision tool</h1>
    </header>
    <h2>Upload Successful</h2>
    <p>The file {{ filename }} has been successfully uploaded.</p>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            // Add a click event to the DataFrame rows
            $('<form action="/contents" method="post"></form>').appendTo('body').submit();
        });
    </script>
</body>
</html>
